*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to right , #286bc9,#827bf0);
    font-family: 'Mukta', sans-serif;
}

.calculator-grid{
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5,100px);
    height: 100vh;
    align-content: center;
    justify-content: center;
}

button{
    padding: 1.5rem 0.5rem;
    cursor: pointer;
    background-color: #70a9ee;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0.2rem;
}

button:hover{
    background-color: #9fc5f2;
}

.output-display{
    grid-column: span 4;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    word-wrap: break-word;
    word-break: break-all;
    letter-spacing: 0.2rem;

}

.allclear,.equal{
    grid-column: span 2;
}

.previouse-ops{
    color: #d0d9e3;
    font-size: 20px;    
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
}

.result{
   color: #ffffff;
    font-size: 26px;
    margin: 0.5rem;
}

footer{
    text-align: center;
    margin: 1rem;
    font-size: 20px;
    letter-spacing: 0.2rem;
}

@media screen and (max-width : 750px){

    .calculator-grid{
        grid-template-columns: repeat(4,80px);
        grid-template-rows: minmax(100px,auto) repeat(5,80px);
    }

    
button{
    padding: 1rem 0.5rem;
    cursor: pointer;
    background-color: #70a9ee;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.2rem;
}

}
